/* | */

:root{
    --opineasy_green:#7ab03d;
    --opineasy_blue:#273370;

}

.bg_opineasy_green{
background: var(--opineasy_green);
}

.bg_opineasy_blue{
    background: var(--opineasy_blue);
    }

body a:link {
    text-decoration: none;
}

body {
    color: #454545;
}

/***************** 
        menu
****************/

.main-menu_link:hover {
    color: #fff;
}

@media (max-width: 992px) {
    .main-menu_link:hover {
        color: #585858;
    }
}


.main-header--scrolling .main-menu_link:hover {
    color: #585858;
}







.home-section--free {
    background-color: var(--opineasy_blue);
    color: #ffffff;
}


.text-left {
    text-align: left !important;
}



@media (max-width: 680px) {
    .home-section--free h1 {
        font-size: 18pt;
    }
}

.home-section_title {
    text-align: center;
}

.p-3 {
    padding: 1rem !important;
}

.vh-100 {
    height: 80vh !important;
}

.mb-2,
.my-2 {
    margin-bottom: 0.5rem !important;
}

.bg-danger {
    background-color: #dc3545 !important;
}

a.bg-danger:hover,
a.bg-danger:focus,
button.bg-danger:hover,
button.bg-danger:focus {
    background-color: #bd2130 !important;
}

.text-white {
    color: #fff !important;
}

.rounded {
    border-radius: 0.25rem !important;
}

.text-center--danger {
    text-align: center !important;
}



.d-block {
    display: block !important;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
}

.form-group {
    margin-bottom: 1rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #454545;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn--newsletter {
    color: #ffffff;
    background: #7ab03d;

}

.btn--primary:hover {
    color: #fff;
}

.donwload_icon::before {
    content: '';
    display: inline-block;
    background: url("../img/download-solid.svg") no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    color: #454545;
}

.donwload_icon span {
    color: #454545;
}

#assembleia_virtual {
    background: var(--opineasy_blue);
}

.assembleia_virtual {
    background: #b1472d;
    background: var(--opineasy_blue);
    padding: 10px;
    border-radius: 100px;
}

.assembleia-section--plans .plan-box {
    text-decoration: none;
    color: #ffffff;
}

.assembleia-section--plans .plan-box:hover {
    text-decoration: none;
}


.home-section--plans .plan-box {
    color: #454545;
}

.home-section--features {
    padding-top: 200px;
}


.plan-box:hover {
    box-shadow: 0px 15px 30px rgba(50, 212, 50, 0.37)
}

.plan-box p {
    margin-left: 10px;
    line-height: 1;
}

.plan-box .text-bigger-5 {

    font-size: 1.222em
}

.plan-box .btn {
    line-height: 1;
    box-shadow: 0px 15px 30px rgba(50, 212, 50, 0);
    padding: 20px 30px ;
}

.plan-box-table,
.plan-box-table th {
    padding: 0px 10px;
    color: #454545;
    font-weight: 200;
}

.plan-box-table td {
    /* color: #454545; */
    padding: 0px 0px;
    font-weight: regular;

}

.icon-color::before {
    content: '';
    display: inline-block;
    background: url("../img/precos/icon-color.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: auto
}


.icon-check::before {
    content: '';
    display: inline-block;
    background: url("../img/precos/icon-white.svg") no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    margin-right: auto
}

.checklist_item {
    color: #454545;
    /* background: red; */
}


.card {
       background-color: transparent;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: .0rem
}